<h2>Other Spammers</h2>
	{% for user in users %}
		<a href="{% url 'user_profiles:other_profile' user.id %}">

			<div class="panel panel-default to-follow">
				<div class="row">
					<div class="col-xs-3">
						{% load static %}
						<img src="{% static 'core/awesome_profile.png' %}" class="follow-user-photo">
					</div>

					<div class="col-xs-6 tweet-rows">
						<div class="row">
							<strong><h3>{{user.first_name.title}} {{user.last_name.title}}</h3></strong>
							 View {{user.username}}'s Profile
						</div>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
