{% extends "core/base.html" %}

{% block content1 %}
<div class= "uname">
<h1>Username:</h1> {{tweets.username}}
<h2>Full Name: {{other_user.first_name.title}} {{other_user.last_name.title}}</h2>
</div>
{% endblock content1 %}

{% block content2 %}
	<form action="{% url 'tweets:tweet_new' %} " method="POST">
    	{% csrf_token %}
    	{% for field in form %}
    		{% include "core/_form_input.html" %}
    	{% endfor %}

    </form>
	{% if tweets %}
		{% for tweet in tweets %}
			{% include 'tweets/tweet_list.html' %}
		{% endfor %}
	{% else %}
	    <p>There are no tweets.</p>
	{% endif %}



{% endblock content2 %}

{% block content3 %}

	{% include 'user_profiles/who_to_follow.html' %}

{% endblock content3 %}
